/* ------------------------------------------------------------------layout */
body {
	font-family: 'Lusitana', serif;
	background-color: #212121;
	color: #f9f9f9;
}
footer {
	margin-top: 5%;
	text-align: center;
}

/* ------------------------------------------------------------------images */
img {
	max-width: 75%;
}
.profile-image {
	border-radius: 50%;
}
.logo-placeholder, .profile-placeholder {
	text-align: center;
}
#logo:hover, #lee:hover, #michael:hover, #john:hover, #daniel:hover{
	cursor: pointer;
	transition: .5s;
}