/* ------------------------------------------------------------------layout */
body {
	font-family: 'Lusitana', serif;
}
img {
	max-width: 75%;
}
footer {
	margin-top: 5%;
	text-align: center;
}

/* ------------------------------------------------------------------images */
.logo-placeholder, .profile-placeholder {
	text-align: center;
}
.profile-image {
	border-radius: 50%;
}

.lee {
	background-image: url("images/lee-atlas.jpg")
}
.lee:hover{
	background-image: url("")
}

.michael{
	background-image: url("images/lee-atlas.jpg")
}
.michael:hover{
	background-image: url("images/lee-atlas.jpg")
}
.john{
	background-image: url("images/lee-atlas.jpg")
}
.john:hover{
	background-image: url("images/lee-atlas.jpg")
}

.daniel{
	background-image: url("images/lee-atlas.jpg")
}
.daniel:hover{
	background-image: url("images/lee-atlas.jpg")
}
